<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../../css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div th:object="${order}" class="container" style="max-width: 800px">
  <div class="py-5 text-center">
    <h2>판매 상세</h2>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>주문 번호</th>
      <th>주문 고객</th>
      <th>주문 시간</th>
      <th>주문 상태</th>
      <th>배송 상태</th>
      <th>주소</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>
        <a th:text="*{id}">
          주문 번호
        </a>
      </td>
      <td>
        <a th:text="*{member.name}">
          주문 고객
        </a>
      </td>
      <td>
        <a th:text="*{orderDate}">
          주문시간
        </a>
      </td>
      <td>
        <a th:text="*{orderStatus}">
          주문 상태
        </a>
      </td>
      <td>
        <a th:text="|*{deliveryStatus}|">
          배송 상태
        </a>
      </td>
      <td>
        <a th:text="|*{address.city}|">도시</a>
        <a th:text="|*{address.street}|">거리</a>
        <a th:text="|*{address.zipcode}|">우편번호</a>
      </td>
    </tr>

    </tbody>

  </table>

  <div>
    <table class="table">
      <thead>
      <tr>
        <th>상품 번호</th>
        <th>판매자</th>
        <th>상품명</th>
        <th>가격</th>
        <th>주문 수량</th>
        <th>총 가격</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="orderItem : ${order.orderItems}">

        <td>
          <a th:text="${orderItem.item.id}" type="text"></a>
        </td>
        <td>
          <a th:text="${orderItem.item.member.name}" type="text"></a>
        </td>
        <td>
          <a th:text="${orderItem.name}" type="text"></a>
        </td>
        <td>
          <a th:text="${orderItem.orderPrice}" type="text"></a>
        </td>
        <td>
          <a th:text="${orderItem.count}" type="text"></a>
        </td>
        <td>
          <a th:text="${orderItem.totalPrice}" type="text"></a>
        </td>
      </tr>
      </tbody>
    </table>

  </div>

  <hr class="my-4">

  <div class="row">

<!--    <div class="col-2">-->
<!--      <a th:href="|@{/order/{id}/send(id=${order.id})}|"-->
<!--         th:text="#{button.send}" class="btn btn-danger btn" type="button">-->
<!--        send-->
<!--      </a>-->
<!--    </div>-->

    <div class="col">
      <button th:text="#{button.home}" th:onclick="|location.href='@{/}'|"
              class="btn btn-danger float-start" type="button">
        Home
      </button>
    </div>

    <div class="col">
      <a th:href="|@{/order/mySale}|"
         th:text="#{button.back}" class="btn btn-secondary btn float-end" type="button">
        back
      </a>
    </div>

  </div>
</div> <!-- /container -->
</body>
</html>
