<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container" style="max-width: 800px">
    <div class="py-3 text-center">
        <h2>오픈 마켓 포트폴리오 소개</h2>
    </div>
    <div>
        <p>모든 회원은 상품을 등록할수 있고 다른 회원이 등록한 상품을 구매할수도 있다</p>
        <p>상품은 바로 주문할수 있고 장바구니에 담아두었다가 한번에 주문할수도 있다</p>
        <p>내 정보의 주문현황에서 주문정보들을 확인할수있고 장바구니에 담긴상품들을 확인할수있다</p>
        <p>또한 나의 판매내역에서 내 상품을 구매한 회원의 주문정보를 조회할수있다</p>
        <hr class="my-4">
        <p>관리자(admin)는 모든 회원과 모든 주문을 조회할수있다</p>
        <p>관리자는 조회한 주문에서 상품을 발송할수있다</p>
        <p>배송상태가 '완료'로 바뀌면 주문자는 주문을 취소할수없다</p>
        <hr class="my-4">
    </div>
    <a class="btn btn-danger btn" href="/">홈으로</a>
    <hr class="my-4">
</div> <!-- /container -->
</body>
</html>
